<script>
$(document).ready(init)
</script>

  <header id="header" class="EaselJS">
    <h1><span class="text-product">JScribble!</span></h1>
    <p>EaselJS for drawing, socki.io and node.js for backend pub sub.</p>
  </header>

  <canvas id="myCanvas" width="1200" height="1000"></canvas>

