<script>
$(document).ready(init)
</script>

<div class="container-fluid">

	<div class="page-header">
		<h1>JScribble!</h1>
		<p>EaselJS for drawing, socki.io and node.js for backend pub sub.</p>
	</div>

	<div ng-controller="IdentifierController" class="modal {{modalStyle}}" >
	  	
	  	<div class="modal-body" >
		    <p>Identify yourself!</p>
		    	<form >
					<input type="text" id="chatTextBox" ng-model="identifier" ng-model-instant placeholder="your name" />
					<button id="clearButton" 
							type="button" class="btn btn-primary"
							ng-click="useIdenfitierAction()">OK</button>
				</form>
			<p type="button" class="btn btn-link" ng-click="useDefaultIdentifierAction()">Or continue as {{defaultIdentifier}}</p>
	  	</div>

	</div>

	<div class="row-fluid">

	
		<div class="span9">
				<!--Body content-->
				 <canvas id="myCanvas" width="600" height="1000"></canvas>
		</div>

		<div class="span3">
			<div>
				<form>
  					<fieldset>
  						<h3>settings</h3>
						<label for="full">line color:</label>						
						<input type='text' id="full"/>

			  			<label for="lineThickness">line thickness:</label>
			  			<input type="text" id="lineThickness" />

			  			<div id="slider"></div>

			  			<button id="clearButton" class="btn btn-primary">Clear Everybody</button>
					</fieldset>
				</form>
			</div>

			<div ng-controller="ChatController" >
				<h3>Chat</h3>				
				<ul id="chatList" class="unstyled">
        			<li ng-repeat="mess in messages">
        				<div class="chatMessageDiv chatMessageDiv-{{mess.isMe}}">
        				<img ng-src="/img/{{mess.image}}" class="chatImage"/>
          				<span class="chatMessage">{{mess.message}}</span>
          				<br/>
          				<span class="chatUser label">{{mess.user}}</span>
          				</div>
        			</li>
      			</ul>
				<form >
					<input type="text" id="chatTextBox" ng-model="chatMessageToSend" ng-model-instant />
					<button id="clearButton" 
							class="btn btn-success"
							ng-click="sendChatMessage()">Send!</button>
				</form>
			</div>

		</div>

	</div>

</div>
