    <!-- Navbar
    ================================================== -->

<style type="text/css" media="screen">

#mainContainer {
	
}
#drawContainer {
	height: inherit;
}
#chatContainer {
	height: inherit;
}
#chatContainer, #drawContainer {
	heigt: inherit;
	padding-top: 41px;
	padding-bottom: 41px;
}
body {
	height: 100%;
	width: 100%;
    position: absolute;
}

.container-fluid,
.row-fluid { height: inherit; }

#avatarList {
  height: 280px;
  margin: 20px 10px 5px 10px;
}
#avatarList li {
  display: inline-block;
  padding: 2px;
}
#avatarList li.selected {
  background-color: blue;
}
#avatarList img {
  width: 48px;
  height: 48px;
}
#formAvatar {
  width:32px;
  height: 32px;
  margin: 0px 15px 0px 30px;
}

</style>

<div class="modal" ng-class="{true:'show', false:'hide'}[shouldShowNameModal]">
    <div class="modal-header">
        <h4>Please identify yourself!</h4>
    </div>
    <div class="modal-body">
      <img id="formAvatar" ng-src="/img/{{userAvatar}}" />
    	<input class="input-xlarge"  placeholder="your name here" ng-model="userName"/>
    	<button class="btn btn-primary" ng-click="closeNameModal()">Join!</button>

      <ul id="avatarList" ng-cloak>
        <li ng-repeat="avatar in scribble.possibleAvatars"
            ng-class="{userAvatar:'selected'}[avatar]">
          <img ng-src="/img/{{avatar}}" 
              ng-click="setAvatar(avatar)" />
        </li>
      </ul>
    </div>
</div>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">JScribble</a>
    <ul class="nav">
    	<li class="divider-vertical"></li>
        <li class=""><a href="#">Interactive collaboration board experiment</a></li>
    </ul>
    <ul class="nav pull-right">
    	<li class="btn btn-primary" ng-hide="shouldShowNameModal" ng-click="logout()">logout</li>
    </ul>
  </div>
</div>

<div class="container-fluid" id="mainContainer">
  	<div class="row-fluid">

	  	<div class="span8" id="drawContainer">
        <div ng-include src="'/draw.html'" ng-controller="DrawCtrl"></div>
      </div>
  		
      <div class="span4" id="chatContainer">
  		  <div ng-include src="'/chat.html'" ng-controller="ChatCtrl"></div>
      </div>

  	</div>	
</div>
   
<div class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="navbar-inner">
		<ul class="nav">
			<li>
				<a href='#About'>About JScribble</a>
			</li>
		</ul>

	</div>
</div>

