<script>
$(document).ready(init)
</script

  <header id="header" class="EaselJS">
    <h1><span class="text-product">Easel<strong>JS</strong></span> CurveTo</h1>
    <p>This example demonstrates painting to the canvas using the vector drawing API in EaselJS</p>
  </header>

  <canvas id="myCanvas" width="1200" height="1000"></canvas>

