    <!-- Navbar
    ================================================== -->

<style type="text/css" media="screen">

#mainContainer {
	
}
#drawContainer {
	background-color: red;
	height: inherit;
}
#chatContainer {
	height: inherit;
}
#chatContainer, #drawContainer {
	heigt: inherit;
	padding-top: 41px;
	padding-bottom: 41px;
}
body {
	height: 100%;
	width: 100%;
    position: absolute;
}

.container-fluid,
.row-fluid { height: inherit; }

</style>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">JScribble</a>
    <ul class="nav">
    	<li class="divider-vertical"></li>
      <li class=""><a href="#">Interactive collaboration board experiment</a></li>
    </ul>
  </div>
</div>

<div class="container-fluid" id="mainContainer">
  	<div class="row-fluid">
	  	<div class="span8" id="drawContainer"><p>1<br/>2<br/>3</p></div>
  		<div class="span4" id="chatContainer">

  		<div ng-include src="'/chat.html'" ng-controller="ChatCtrl"/>

  		</div>
	</div>
</div>
   
<div class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="navbar-inner">
		<ul class="nav">
			<li>
				<a href='#About'>About JScribble</a>
			</li>
		</ul>

	</div>
</div>