
<div class="modal" ng-class="{true:'show', false:'hide'}[shouldShowNameModal]">
    <div class="modal-header">
        <h4>Please identify yourself!</h4>
    </div>
    <div class="modal-body">
      <img id="formAvatar" ng-src="/img/{{userAvatar.image}}" />
    	<input class="input-xlarge"  placeholder="your name here" ng-model="userName"/>
    	<button class="btn btn-primary" ng-click="closeNameModal()">Join!</button>

      <ul id="avatarList" ng-cloak>
        <li ng-repeat="avatar in scribble.possibleAvatars"
            ng-controller="AvatarController"
            ng-class="{true:'selected'}[avatar.isSelected]">
          <img ng-src="/img/{{avatar.image}}" 
              ng-click="setAvatar(avatar)" />
        </li>
      </ul>
    </div>
</div>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#" id="scribbleLeftTitle">JScribble</a>
    <ul class="nav">
    	<li class="divider-vertical"></li>
        <li class=""><a href="#">Interactive collaboration board experiment - 
          Open it with two different browsers to check what it does...</a></li>
    </ul>
    <ul class="nav pull-right">
    	<li class="btn btn-primary" ng-hide="shouldShowNameModal" ng-click="logout()" id="logoutButton">logout</li>
    </ul>
  </div>
</div>

<div class="container-fluid" id="mainContainer">
  	<div class="row-fluid">

	  	<div class="span8" id="drawContainer">
        <div ng-include src="'/drawing.html'" ng-controller="DrawCtrl"></div>
      </div>
  		
      <div class="span4" id="chatContainer">
  		  <div ng-include src="'/chat.html'" ng-controller="ChatCtrl"></div>
      </div>

  	</div>	
</div>
   
<div class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="navbar-inner">
		<ul class="nav">
			<li>
				<a href='https://github.com/sebastienwindal/JScribble'>About JScribble</a>
			</li>
		</ul>
    <ul class="nav pull-right">
      <li><a href="https://github.com/sebastienwindal/JScribble">Fork it on GitHub</a></li>
    </ul>

	</div>
</div>

