<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>JScribble!</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="/stylesheets/demoStyles.css" rel="stylesheet">

  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
  <script src='http://jquery-json.googlecode.com/files/jquery.json-2.2.min.js'></script>
  <script src='http://datejs.googlecode.com/svn/trunk/build/date.js'></script>

  <script type="text/javascript" src="/javascripts/UID.js"></script>
  <script type="text/javascript" src="/javascripts/Matrix2D.js"></script>
  <script type="text/javascript" src="/javascripts/EventDispatcher.js"></script>
  <script type="text/javascript" src="/javascripts/DisplayObject.js"></script>
  <script type="text/javascript" src="/javascripts/Container.js"></script>
  <script type="text/javascript" src="/javascripts/Stage.js"></script>
  <script type="text/javascript" src="/javascripts/MouseEvent.js"></script>
  <script type="text/javascript" src="/javascripts/Shape.js"></script>
  <script type="text/javascript" src="/javascripts/Graphics.js"></script>
  <script type="text/javascript" src="/javascripts/Ticker.js"></script>
  <script type="text/javascript" src="/javascripts/Text.js"></script>
  <script type="text/javascript" src="/javascripts/Touch.js"></script>
  <script type="text/javascript" src="/javascripts/Point.js"></script>
  <script type="text/javascript" src="/javascripts/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/Draw.js"></script>

  </head>
  <body>
    <%- body %>


  </body>
</html>