<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>JScribble!</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="/css/demoStyles.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/spectrum.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />

    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src='http://jquery-json.googlecode.com/files/jquery.json-2.2.min.js'></script>
    <script src='http://datejs.googlecode.com/svn/trunk/build/date.js'></script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>


    <script type="text/javascript" src="/js/UID.js"></script>
    <script type="text/javascript" src="/js/Matrix2D.js"></script>
    <script type="text/javascript" src="/js/EventDispatcher.js"></script>
    <script type="text/javascript" src="/js/DisplayObject.js"></script>
    <script type="text/javascript" src="/js/Container.js"></script>
    <script type="text/javascript" src="/js/Stage.js"></script>
    <script type="text/javascript" src="/js/MouseEvent.js"></script>
    <script type="text/javascript" src="/js/Shape.js"></script>
    <script type="text/javascript" src="/js/Graphics.js"></script>
    <script type="text/javascript" src="/js/Ticker.js"></script>
    <script type="text/javascript" src="/js/Text.js"></script>
    <script type="text/javascript" src="/js/Touch.js"></script>
    <script type="text/javascript" src="/js/Point.js"></script>
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/spectrum.js"></script>
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>

    <script type="text/javascript" src="/js/Draw.js"></script>

  </head>
  <body>

    <%- body %>

  </body>
</html>