
<ul id="chatList" auto-scroll-down>
	<li ng-repeat="message in scribble.messages">
		<div class="chatMessageContainer" ng-cloak>
			<div class="username">{{message.userName}}</div>
			<img ng-src="/img/{{message.avatar}}" class="avatar">
			<p>{{message.msg}}</p>
			<div class="timestamp">{{message.time | date:'yyyy-MM-dd HH:mm:ss'}}</div>
		<div>
	</li>
</ul>


<form id="chatForm" 
  			ng-submit="sendChatMessage()">
	<label class="chatStatus" ng-show="scribble.userName.length>0">logged in as {{scribble.userName}}</label>
	<label class="chatStatus" ng-hide="scribble.userName.length>0">not logged in.</label>	
  	<textarea 	id="chatTextArea"
  				ng-model="$parent.currentMessage" 
  				send-message-on-enter></textarea>

  	<button type="submit"
  			id="chatButton"
  			ng-disabled="$parent.currentMessage.length==0"
  			class="btn btn-primary">Post</button>
</form>


<script>

function adjustSize() {
	$('#chatList').height($('body').height() - 2 * 40 /* top and bottom bar */ - 200 /* the form height*/ -2*10 /* form margin */);
}

$(function docReady() {
	adjustSize();
});

$(window).resize(function() {
	adjustSize();
});

</script>
