
<style type="text/css" media="screen">
	* {
		-webkit-box-sizing: border-box;
	}
	html, body {
		height: 100%;
		width: 100%;
	}
	#chatForm textarea, #chatForm input {
		width: 100%;
		margin: 0px 0px 10px 0px;
		height: 100px;
	}
	#chatForm button {
		width: 100%;
		margin: 10px 0px 10px 0px;
	}
	#chatForm {
		padding: 25px 25px 25px 25px;
		background-color: rgba(30,30,30,0.8);
		border: 1px solid black;
		border-radius: 0px 0px 5px 5px;
		height: 200px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	#chatList {
		margin: 10px 0px 0px 0px;
		list-style: none;
		width: 100%;
		overflow: scroll;
		background-color: #f0f0f0;
		border-right: 1px solid #aaa;
		border-left: 1px solid #aaa;
		border-top: 1px solid #aaa;
		border-radius: 5px 5px 0px 0px;
	}
	#chatList li {
		padding: 15px;
		margin: 0px;
		border-bottom: 1px solid #aaa;
		background-color: #fff;
	}
	#chatList li:nth-of-type(even) {
		background-color: #f9f9f9;
	}
	.chatMessageContainer {
		margin: 10px 0px 10px 0px;
		padding-bottom: 1px;
	}
	.chatMessageContainer .timestamp {
		float: right;
		margin: 0px;
		font-size: 10px;
		color: #888;
	}
	.chatMessageContainer .username {
		margin:-15px 0px 0px -5px;
		font-weight: bold;
		font-style: italic;
		color: #002;
	}
	.chatMessageContainer .avatar {
		width: 42px;
		height: 42px;
		margin: 8px 15px 10px -3px;
		box-shadow: 2px 2px 3px rgba(20,20,20,0.3);
		float: left;
	}
	.chatStatus {
		margin-top: -15px;
		color: white;
		font-size: 12px;
	}
</style>

<ul id="chatList" auto-scroll-down>
	<li ng-repeat="message in scribble.messages">
		<div class="chatMessageContainer" ng-cloak>
			<div class="username">{{message.userName}}</div>
			<img ng-src="/img/{{message.avatar}}" class="avatar">
			<p>{{message.msg}}</p>
			<div class="timestamp">{{message.time | date:'yyyy-MM-dd HH:mm:ss'}}</div>
		<div>
	</li>
</ul>


<form id="chatForm" 
  			ng-submit="sendChatMessage()">
	<label class="chatStatus" ng-show="scribble.userName.length>0">logged in as {{scribble.userName}}</label>
	<label class="chatStatus" ng-hide="scribble.userName.length>0">not logged in.</label>	
  	<textarea 	id="chatTextArea"
  				ng-model="$parent.currentMessage" 
  				send-message-on-enter></textarea>

  	<button type="submit"
  			id="chatButton"
  			ng-disabled="$parent.currentMessage.length==0"
  			class="btn btn-primary">Post</button>
</form>


<script>

function adjustSize() {
	$('#chatList').height($('body').height() - 2 * 40 /* top and bottom bar */ - 200 /* the form height*/ -2*10 /* form margin */);
}

$(function docReady() {
	adjustSize();
});

$(window).resize(function() {
	adjustSize();
});

</script>
