<style type="text/css" media="screen">

#myCanvas {
  background-color: #f8f8f8;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
} 

#drawingBoardOptions {
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	bottom: 51px;
	border-radius: 0px 0px 5px 5px;
	border: 1px solid black;
}
#drawingBoardOptions ul {
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	padding:2px 10px 2px 10px;
}
#drawingBoardOptions li {
	display: inline-block;
}
.colorThumb {
	width: 22px;
	height: 22px;
	margin: 4px 2px 0px 2px;
}
#drawingBoardOptions div.selected {
	border: 2px solid white;
}

</style>



<drawing-board 	stroke-size="5" 
				pen-color="{{selectedColor.color}}"
				on-draw="onDraw(start,end,color,stroke)" 
				on-start-draw="onStartDraw(start,color,stroke)"
				id="myCanvas" width="1000" height="1000">

</drawing-board>

<div id="drawingBoardOptions">
	<ul>
		<li ng-repeat="penColor in scribble.possibleColors" ng-controller="IndividualColorCtrl">
			<div 	class="colorThumb"
					ng-class="{true:'selected'}[penColor.isSelected]" 
					style="background-color:{{penColor.color}}"
					ng-click="changeColor(penColor)"

					></div>
		</li>
	</ul>
</div>

<script>

function adjustCanvasSize() {
  $('#myCanvas').height($('body').height() - 2 * 40 /* top and bottom bar */ - 20 /* top margins */);
  $('#myCanvas').width($('#drawContainer').width());
  $('#drawingBoardOptions').width($('#drawContainer').width());
}

$(function docReady() {
  adjustCanvasSize();
});

$(window).resize(function() {
  adjustCanvasSize();
});

</script>